
:root[data-theme="light"] { 
  --background: #ffffff;
  --background-alt: #f3f4f6;    
  --background-hover: #e5e7eb;

  --text: #111827;              
  --text-secondary: #374151;    

  --primary: #4f46e5;           
  --text-on-primary: #ffffff;
  --border: #d1d5db;
  
}

.tabs {
  z-index: 10;
  width: fit-content;
  border: 1px solid var(--border);
  border-radius: 1rem;
  background: var(--background);
  display: flex;
  gap: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.tab {
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  position: relative;
  background: var(--background-alt); 
  border-radius: 0.5rem;
  color: var(--text-secondary);      
  cursor: pointer;                  

  &:hover {
    background: var(--background-hover);
    color: var(--text);               
  }
}

.tab.active {

  border-bottom-color: var(--primary);
  background: var(--primary);       
  color: var(--text-on-primary);
}

.container__alphabets {
  #english,
  & #hindi {
    scroll-margin-top: calc(var(--header-height) + 80px);
  }
}
