---
import "@/assets/styles/varnmala/consonant.css";
import BackButton from "@/components/BackButton.astro";
import BaseLayout from "@/layouts/Base";

import { hindiConsonants as consonants, matras } from "@/utils/characters";
export const prerender = true;

export function getStaticPaths() {
  return consonants.map((consonant) => ({ params: { consonant } }));
}

const { consonant } = Astro.params;

const combinations = [consonant, ...Object.values(matras).map((matra) => consonant + matra)];
---

<BaseLayout meta={{ title: `Barahkhadi - ${consonant}` }}>
  <BackButton />
  <div class="container__consonant">
    <div class="consonant__header">
      <div class="consonant">{consonant}</div>
    </div>
    <div class="combinations__grid">
      {
        combinations.map((result) => (
          <div class="combination__card">
            <span class="combination__result">{result}</span>
          </div>
        ))
      }
    </div>
  </div>
</BaseLayout>
