---
import "@/assets/styles/nakshtra.css";
import BackIcon from "@/components/Back.astro";
import Help from "@/components/Help.astro";
import NakshtraCard, { type Nakshtra } from "@/components/NakshtraCard.astro";
import SharePopover from "@/components/ShareButton.astro";
import { data } from "@/data/nakshtra.json";
import BaseLayout from "@/layouts/Base";
var currentLang = "hindi";

const meta = {
  title: "Nakshtra",
  description: "Explore all 27 Nakshatra (lunar mansions) in Vedic astrology."
};
---

<BaseLayout meta={meta}>
  <BackIcon />
  <Fragment slot="header-right">
    <SharePopover />
    <Help
      title="Nakshtra"
      description="In Hindu astrology, Nakshatra (à¤¨à¤•à¥à¤·à¤¤à¥à¤°) refers to a constellation or lunar mansion."
    />
  </Fragment>
  <div class="container__nakshtra">
    <h1>Nakshatra Nexus</h1>
    <div class="legend__list">
      <div>Legends:</div>
      <dl>
        <dt class="legend" data-icon="ðŸª"></dt>
        <dd>Ruling Planet</dd>
      </dl>
      <dl>
        <dt class="legend" data-icon="ðŸ“¿"></dt>
        <dd>Deity</dd>
      </dl>
      <dl>
        <dt class="legend" data-icon="à¿Š"></dt>
        <dd>Symbol</dd>
      </dl>
    </div>

    <div class="card__list">
      {(data as any)[currentLang].map((nakshtra: Nakshtra) => <NakshtraCard {nakshtra} />)}
    </div>
  </div>
  <div class="note">
    <p>
      <strong>Note on Abhijit Nakshatra:</strong> A 28th Nakshatra, Abhijit, is mentioned in some texts (between Uttara Ashadha
      and Shravana), but it is not commonly used in mainstream astrology.
    </p>
  </div>
</BaseLayout>
