---
import BaseLayout from "@/layouts/Base";
import "@/assets/styles/varnmala/english.css";
import Help from "@/components/Help.astro";
---

<BaseLayout meta={{ title: "English" }}>
  <Fragment slot="header-right">
    <Help
      title="Hindi Varnmala"
      description="Just press any letter fron keyboard and it display the letter and it's relative word in clear way and if you type again it will change the color"
    />
  </Fragment>
  <a href="/varnmala" class="back-button">← Back</a>
  <article class="container__hindi">
    <div class="letter">A</div>
  </article>
  <script>
    import { colorBox, isAlphabet, random } from "@/utils/utils.js";

    const letterDiv = document.querySelector(".letter") as HTMLDivElement;

    document.addEventListener(
      "keydown",
      (e) => {
        e.preventDefault();
        const color = random(colorBox);
        const { key, keyCode } = e;
        if (isAlphabet(keyCode)) {
          const keyCapital = key.toUpperCase();
          drawLetter(keyCapital, color);
        }
      },
      false
    );

    const drawLetter = (letter: string, color = "pink") => {
      letterDiv.innerHTML = letter;
      letterDiv.style.color = color;
    };
  </script>
</BaseLayout>
