---
import "@/assets/styles/varnmala/index.css";
import Back from "@/components/Back.astro";
import BaseLayout from "@/layouts/Base";

const sections = [
  {
    title: "English",
    description: "Learn the basic English alphabets",
    href: "english"
  },
  {
    title: "Hindi",
    description: "Learn the basic Hindi alphabets",
    href: "hindi"
  },
  {
    title: "Barahkhadi",
    description: "Learn the basic barahkhadi characters",
    href: "barahkhadi"
  },
  {
    title: "Listen",
    description: "Practice reading alphabets with audio support",
    href: "listen"
  },
  {
    title: "Write",
    description: "Practice writing alphabets ",
    href: "write"
  },
  {
    title: "Play",
    description: "Listen and play with the basic Alphabet characters",
    href: "play"
  }
];
---

<BaseLayout meta={{ title: "Varnmala" }}>
  <Back />
  <h2 class="txt__center m-0">Varnmala</h2>
  <div class="container__varnmala">
    <ul class="list__alphabets">
      {
        sections.map((section, index) => (
          <li class="card" style={`animation-delay: ${index * 100}ms`}>
            <a class="card__link" href={`/varnmala/${section.href}`}>
              <div class="card__content">
                <h2 class="category__title">{section.title}</h2>
                <p class="category__description">{section.description}</p>
                <span class="card__arrow">→</span>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
