---
import "@/assets/styles/varnmala/index.css";
import BaseLayout from "@/layouts/Base";

const sections = [
  // {
  //   title: "Alphabet",
  //   description: "Learn the basic alphabet characters",
  //   href: "alphabet"
  // },
  {
    title: "English",
    description: "Learn the basic English alphabets",
    href: "english"
  },
  {
    title: "Hindi",
    description: "Learn the basic Hindi alphabets",
    href: "hindi"
  },
  // {
  //   title: "Greek Alphabet",
  //   description: "Learn the basic Greek Alphabets",
  //   href: "greek-alphabet"
  // },
  // {
  //   title: "Geek Alphabet",
  //   description: "Learn the basic Geek Alphabets",
  //   href: "geek-alphabet"
  // },
  {
    title: "Reader",
    description: "Practice reading alphabets with audio support",
    href: "reader"
  },
  {
    title: "Barahkhadi",
    description: "Learn the basic barahkhadi characters",
    href: "barahkhadi"
  },
  // {
  //   title: "Number",
  //   description: "Learn the basic number characters",
  //   href: "number"
  // },
  // {
  //   title: "Months",
  //   description: "Learn the names of the months.",
  //   href: "months"
  // },
  // {
  //   title: "SunSigns",
  //   description: "Learn the SunSigns.",
  //   href: "sunsign"
  // }

];
---

<BaseLayout meta={{ title: "Varnmala" }}>
  <div class="container__varnmala">
    <ul class="list__alphabets">
      {
        sections.map((section, index) => (
          <li class="card" style={`animation-delay: ${index * 100}ms`}>
            <a href={`/varnmala/${section.href}`} class="card__link">
              <div class="card__content">
                <h2 class="category__title">{section.title}</h2>
                <p class="category__description">{section.description}</p>
                <span class="card__arrow">→</span>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
