---
import BackIcon from "@/assets/icons/back.svg";
import "@/assets/styles/varnmala/index.css";
import BaseLayout from "@/layouts/Base";

const sections = [
  {
    title: "English",
    description: "Learn the basic English alphabets",
    href: "english"
  },
  {
    title: "Hindi",
    description: "Learn the basic Hindi alphabets",
    href: "hindi"
  },
  {
    title: "Reader",
    description: "Practice reading alphabets with audio support",
    href: "reader"
  },
  {
    title: "Write",
    description: "Practice writing alphabets ",
    href: "write"
  },
  {
    title: "Barahkhadi",
    description: "Learn the basic barahkhadi characters",
    href: "barahkhadi"
  },
  {
    title: "Speak and draw",
    description: "Draw the basic Varnmala characters",
    href: "Speak_draw"
  }

];
---

<BaseLayout meta={{ title: "Varnmala" }}>
  
  <div class="container__varnmala">
    <a href="/" class="back">
      <BackIcon class="bck"/>
    </a>
    <div class="alphabets__header">
      <h1>Varnmala</h1>
      <!-- <p class="subtitle">Explore the different aspects of Varnmala </p> -->
    </div>
    <ul class="list__alphabets">
      {
        sections.map((section, index) => (
          <li class="card" style={`animation-delay: ${index * 100}ms`}>
            <a href={`/varnmala/${section.href}`} class="card__link">
              <div class="card__content">
                <h2 class="category__title">{section.title}</h2>
                <p class="category__description">{section.description}</p>
                <span class="card__arrow">→</span>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
