---
import "@/assets/styles/varnmala/write.css";
import BackButton from "@/components/BackButton.astro";
import Help from "@/components/Help.astro";
import LetterAnimation from "@/components/LetterAnimation.astro";
import SharePopover from "@/components/ShareButton.astro";
import BaseLayout from "@/layouts/Base";

const url = new URL(Astro.request.url);
const letterParam = url.searchParams.get("letter")?.toUpperCase() ?? "A";

const meta = {
  title: "Write the Letter",
  description: "Practice writing alphabets with animated guides. Perfect for kids learning to write!"
};
---

<BaseLayout meta={meta}>
  <BackButton />
  <Fragment slot="header-left">
    <SharePopover />
    <Help title="Write" description="Learn to write alphabets! Press on restart button to see the animation again." />
  </Fragment>

  <article class="writing-panel-main">
    <section class="writing-panel-section">
      <h2 class="writing-panel-title">✏️ Alphabet Writing Animation ✏️</h2>
      <LetterAnimation currentLetter={letterParam} />
    </section>
  </article>
</BaseLayout>
