---
import "@/assets/styles/about.css";
import BaseLayout from "@/layouts/Base";
---

<BaseLayout meta={{ title: "About us" }}>
  <article class="container__about">
    <section class="moto">
      <p>This is my initial version to make interactive games for kids</p>
      <p>
        Inspiration behind these games are to take kids away from smartphone and close to keyboard which will help in
        their future building also.
      </p>
    </section>
  </article>
</BaseLayout>
