---
import "@/assets/styles/about.css";
import HeroSection from "@/components/about/HeroSection.astro";
import TeamSection from "@/components/about/TeamSection.astro";
import TechSection from "@/components/about/TechSection.astro";
import BackIcon from "@/components/Back.astro";
import BaseLayout from "@/layouts/Base";
import TitleLayout from "@/layouts/TitleLayout";

import pkg from "../../package.json";

// Constants
const appName = "abcdkbd";

// Meta data
const meta = {
  title: "About Us"
};
---

<BaseLayout meta={meta}>
  <BackIcon />
  <TitleLayout title="Welcome to the world of learning" />
  <main class="about-container">
    <HeroSection appName={appName} />
    <TeamSection members={pkg.contributors} />
    <TechSection />
  </main>
</BaseLayout>
