---
import "@/assets/styles/about.css";
import HeroSection from "@/components/about/HeroSection.astro";
import TeamSection from "@/components/about/TeamSection.astro";
import TechSection from "@/components/about/TechSection.astro";
import BackIcon from "@/components/Back.astro";
import BaseLayout from "@/layouts/Base";
import pkg from "../../package.json";

import { Content } from "@/content/about.md";

// Constants
const appName = "abcdkbd";

// Meta data
const meta = {
  title: "About Us"
};
---

<style>
  .about__article {
    padding: 1rem 2rem;

    :is(h2, h3) {
      padding: 0.5rem 0.5rem;
      border-radius: 1rem;
      box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, 0.2);
    }
    p {
      color: grey;
      font-size: 1.5rem;
    }
  }
</style>

<BaseLayout meta={meta}>
  <BackIcon />
  <div class="about-container">
    <section class="about__section">
      <article class="about__article">
        <Content class="content" />
      </article>
    </section>
    <HeroSection appName={appName} />

    <TeamSection members={pkg.contributors} />
    <TechSection />
  </div>
</BaseLayout>
