---
import "@/assets/styles/about.css";
import Help from "@/components/Help.astro";
import BaseLayout from "@/layouts/Base";
---

<BaseLayout meta={{ title: "About us" }}>
  <Fragment slot="header-right">
    <Help
      title="Hide & Seek Game"
      description="Press any alphabet key from keyboard and that letter will appears and when you press again then it will disappears. See some hover and active effects while hovering over each card."
    />
  </Fragment>

  <article class="container__about">
    <section class="moto">
      <p>This is my initial version to make interactive games for kids</p>
      <p>
        Inspiration behind these games are to take kids away from smartphone and close to keyboard which will help in
        their future building also.
      </p>
    </section>
  </article>
</BaseLayout>
