---
import "@/assets/styles/societree.css";
import DataCard from "@/components/Card.astro";
import BaseLayout from "@/layouts/Base";
import clanJson from "public/assets/json/family.json";
---

<BaseLayout meta={{ title: "Clan Explorer" }}>
  <article class="container__clan">
    <div class="hero">
      <h1>Discover Your Heritage and Family Connections</h1>
      <div class="legend__list">
        <dl>
          <dt class="legend" data-icon="🧶"></dt>
          <dd>Clan ( Gotra )</dd>
        </dl>
        <dl>
          <dt class="legend" data-icon="🪔"></dt>
          <dd>Deity ( Kul devi)</dd>
        </dl>
        <dl>
          <dt class="legend" data-icon="䷤"></dt>
          <dd>Cast ( Jaati )</dd>
        </dl>
      </div>
    </div>
    <DataCard clan={clanJson} />
  </article>
</BaseLayout>
