---
import "@/assets/styles/contact.css";
import BaseLayout from "@/layouts/Base";
import TitleLayout from "@/layouts/TitleLayout";
import Back from "@/components/Back.astro";
import CopyIcon from "@/assets/icons/copy.svg";
import GitHubIcon from "@/assets/icons/github.svg";

const meta = {
  title: "Contact Us",
  description:
    "Reach out to the abcdkbd team via email or connect with us on GitHub to collaborate or provide feedback."
};
---

<style>
  .copy {
    width: 24px;
  }
</style>
<BaseLayout meta={meta}>
  <Back />
  <TitleLayout title="Get in Touch" />
  <div class="container__contact">
    <div class="contact__wrapper">
      <div class="contact__info">
        <h3>feel free to connect</h3>
        <div class="info__item">
          <a href="mailto:abcdkbd@outlook.com" class="mail">Mail us at<span>abcdkbd@outlook.com</span></a>
          <div id="copy" class="copy"><CopyIcon /></div>
        </div>
        <div class="info__item">
          <a href="https://github.com/recursivezero" target="_blank" rel="noopener noreferrer"
            >Find us on <span class="social"><GitHubIcon />GitHub</span></a
          >
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<script>
  const copyButton = document.getElementById("copy-email-btn");
  if (copyButton) {
    const emailText = document.getElementById("email-text")?.innerText;
    const copyIcon = copyButton.querySelector("i");
    // Add a null check for both emailText and copyIcon
    if (emailText && copyIcon) {
      copyButton.addEventListener("click", () => {
        navigator.clipboard
          .writeText(emailText)
          .then(() => {
            // Success feedback
            copyIcon.classList.remove("fa-copy");
            copyIcon.classList.add("fa-check");
            copyButton.title = "Copied!";

            // Revert back after 2 seconds
            setTimeout(() => {
              copyIcon.classList.remove("fa-check");
              copyIcon.classList.add("fa-copy");
              copyButton.title = "Copy email";
            }, 2000);
          })
          .catch((err) => {
            console.error("Failed to copy email: ", err);
            alert("Failed to copy email.");
          });
      });
    }
  }
</script>
