---
import "@/assets/styles/contact.css";
import BaseLayout from "@/layouts/Base";
import TitleLayout from "@/layouts/TitleLayout";
import Back from "@/components/Back.astro";
---

<BaseLayout meta={{ title: "Contact Us" }}>
  <Back />
  <div class="container__contact">
    <TitleLayout
      title="Get in Touch"
    />

    <div class="contact-wrapper">
      <div class="contact-info">
        <h3>Contact Information</h3>
        <div class="info-item">
          <i class="fa-solid fa-envelope"></i>
          <a href="mailto:abcdkbd@outlook.com">Mail Us at: <span class="underline-text">abcdkbd@outlook.com</span></a>
        </div>
        <div class="info-item">
          <i class="fa-brands fa-github"></i>
          <a href="https://github.com/recursivezero" target="_blank" rel="noopener">Find us on <span class="underline-text">GitHub</span></a>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
