---
import "@/assets/styles/dashboard.css";
import Header from "@/layouts/common/Header";
---

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
</head>
<body>
  <Header hasBack={false}>
    <button id="logout-btn" class="header-logout-btn" slot="right">Logout</button>
  </Header>
  <main class="dashboard-page">
    <div class="dashboard-container">
      <h1 class="welcome-message">Hello there!</h1>
      <p class="dashboard-info">
        This is your personal dashboard. From here you can manage your account, view your activity, and much more.
      </p>
      <button id="add-voice-btn" class="dashboard-action-btn">Add Voice</button>
    </div>
  </main>
</body>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const logoutButton = document.getElementById("logout-btn");
    logoutButton?.addEventListener("click", () => {
      window.location.href = "/login";
    });

    const addVoiceButton = document.getElementById("add-voice-btn");
    addVoiceButton?.addEventListener("click", () => {
      window.location.href = "/record";
    });
  });
</script>
