---
import "@/assets/styles/faq.css";
import faqData from "@/data/faq.json";
import BaseLayout from "@/layouts/Base";
import TitleLayout from "@/layouts/TitleLayout";
---

<BaseLayout meta={{ title: "FAQs" }}>
  <TitleLayout title="Frequently Asked Questions" />
  <section class="faq-container">
    {
      faqData.map((item) => (
        <article>
          <details class="faq-item">
            <summary class="faq-question">{item.question}</summary>
            <div class="faq-answer">
              <p>{item.answer}</p>
            </div>
          </details>
        </article>
      ))
    }
  </section>
</BaseLayout>
