---
import "@/assets/styles/signup.css";
import SunIcon from "@/assets/icons/sun.svg";
import MoonIcon from "@/assets/icons/moon.svg";
import Base from "@/layouts/Base";

const meta = {
  title: "Forgot Password",
  description:
    "Reset your password easily by entering your email. We'll send you instructions to securely update your credentials."
};
---

<Base meta={meta} sidebar={false}>
  <div class="signup-container form-only">
    <div class="signup-right">
      <button id="theme-toggle" class="theme-toggle" aria-label="Toggle theme">
        <SunIcon id="theme-icon-sun" width={24} height={24} />
        <MoonIcon id="theme-icon-moon" width={24} height={24} />
      </button>
      <div class="form-container">
        <h1>Forgot Password?</h1>
        <p class="signup-text">No worries, we'll send you reset instructions.</p>

        <form class="signup-form" style="margin-top: 2rem;">
          <div class="input-group">
            <input type="email" id="email" placeholder="Enter your email" required />
          </div>

          <button type="submit" class="create-account-btn">Send Reset Link</button>
        </form>
        <div style="text-align: center; margin-top: 1.5rem;">
          <a href="/login" class="signup-link">← Back to log in</a>
        </div>
      </div>
    </div>
  </div>
</Base>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const forgotPasswordForm = document.querySelector(".signup-form");
    if (forgotPasswordForm) {
      forgotPasswordForm.addEventListener("submit", function (event) {
        event.preventDefault();
        alert("Please check your mail, we've sent a password reset link.");
      });
    }

    type Theme = "light" | "dark";
    const themeToggleButton = document.getElementById("theme-toggle");

    const applyTheme = (theme: Theme) => {
      document.documentElement.setAttribute("data-theme", theme);
      localStorage.setItem("theme", theme);
    };

    const savedTheme = localStorage.getItem("theme") as Theme | null;
    const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
    if (savedTheme) {
      applyTheme(savedTheme);
    } else if (prefersDark) {
      applyTheme("dark");
    } else {
      applyTheme("light");
    }

    themeToggleButton?.addEventListener("click", () => {
      const currentTheme = document.documentElement.getAttribute("data-theme") as Theme;
      const newTheme = currentTheme === "dark" ? "light" : "dark";
      applyTheme(newTheme);
    });
  });
</script>
