---
import "@/assets/styles/index.css";

return Astro.redirect("/");
---

<style>
  .home__container {
    display: grid;
    margin: auto 4rem;
  }
</style>

<div class="home__container"></div>
