---
import BaseLayout from "@/layouts/Base";
import "@/assets/styles/index.css";
import Help from "@/components/Help.astro";
import HeroSection from "@/components/home/HeroSection.astro";
import ExploreLearnSection from "@/components/home/ExploreLearnSection.astro";
import TestimonialsSection from "@/components/home/TestimonialsSection.astro";
import KidsLoveSection from "@/components/home/KidsLoveSection.astro";
// import WhatsNewSection from "@/components/home/WhatsNewSection.astro";
import MobileSplash from "@/components/MobileSplash.astro";
import FeaturesSection from "@/components/about/FeaturesSection.astro";
const meta = {
  title: "Home"
};
---

<BaseLayout meta={meta}>
  <MobileSplash />
  <Fragment slot="header-right">
    <Help title="Sample Dialog" description="This is sample dialog which need your details if you want to give?" />
    <!--<NameForm />-->
  </Fragment>
  <main class="about-container">
    <HeroSection />
    <ExploreLearnSection />
    <TestimonialsSection />
    <KidsLoveSection />
    <!-- <WhatsNewSection /> -->
    <FeaturesSection />
  </main>
</BaseLayout>
