---
import BaseLayout from "@/layouts/Base";

import Help from "@/components/Help.astro";
---

<style>
  h2 {
    text-align: center;
    padding: 1rem;
    margin: 1rem 0;
    background-color: rebeccapurple;
    color: white;
    border-radius: 2rem;
  }
  article {
    margin: 2rem auto;
    border: 2px solid rgb(156, 236, 235);
    padding: 1rem;
  }
  .webring {
    border: 2px outset;
    text-align: center;
    position: relative;
    margin: 1rem auto;
    top: 10rem;
    & p {
      margin: 0;
      padding: 0.1em;
      border: 2px inset;
    }
  }
  .site {
    flex: 1;
    margin: 0;
    padding: 0.1em;
    border: 2px inset;
  }
</style>
<BaseLayout meta={{ title: "Home" }}>
  <h1>Welcome to parixan.xyz</h1>
  <Fragment slot="header-right">
    <Help title="Sample Dialog" description="This is sample dialog which need your details if you want to give?" />
    <!--<NameForm />-->
  </Fragment>
  <Fragment slot="output">
    <p>
      Previous Name: <output></output>
    </p>
  </Fragment>
  <div class="webring">
    <p>CSS JOY Webring</p>
    <div style="display: flex">
      <a class="site" href="https://webri.ng/webring/cssjoy/previous?via=https://abcdkbd.com">Previous Site</a>
      <a class="site" href="https://webri.ng/webring/cssjoy/random?via=https://abcdkbd.com">Random Site</a>
      <a class="site" href="https://webri.ng/webring/cssjoy/next?via=https://abcdkbd.com">Next Site</a>
    </div>
  </div>
</BaseLayout>
