---
import BaseLayout from "@/layouts/Base";
import "@/assets/styles/index.css";
import HeroSection from "@/components/home/HeroSection.astro";
import ExploreLearnSection from "@/components/home/ExploreLearnSection.astro";
import TestimonialsSection from "@/components/home/TestimonialsSection.astro";
import KidsLoveSection from "@/components/home/KidsLoveSection.astro";
import MobileSplash from "@/components/MobileSplash.astro";
import FeaturesSection from "@/components/about/FeaturesSection.astro";
const meta = {
  title: "Home"
};
---

<BaseLayout meta={meta}>
  <!-- <MobileSplash /> -->
  <Fragment slot="header-right">
  </Fragment>
  <main class="about-container">
    <HeroSection />
    <ExploreLearnSection />
    <TestimonialsSection />
    <KidsLoveSection />
    <FeaturesSection />
  </main>
</BaseLayout>
