---
import BaseLayout from "@/layouts/Base";
import KannadaHindiGrid from "@/components/kannadaHindi.astro";
//import KannadaHindiGrid from "@/components/kannahind.astro";
import Help from "@/components/Help.astro";

const title = "Kannada and Hindi Alphabets";
const description = "Interactive grid showing Kannada and Hindi alphabets with their corresponding letters";
---

<BaseLayout meta={{title}}>
  
  <Fragment slot="header-right">
    <button id="toggleButton" class="toggle-button">
      <div class="toggle-slider"></div>
      <span id="hindiLabel" class="language-label">ಕನ್ನಡ</span>
      <span id="kannadaLabel" class="language-label active"> हिंदी</span>
    </button>
    <Help
      title="Hide & Seek Game"
      description="Press any alphabet key from keyboard and that letter will appears and when you press again then it will disappears. See some hover and active effects while hovering over each card."
    />
  </Fragment>
  <KannadaHindiGrid />
</BaseLayout>
