---
import "@/assets/styles/landing.css";
import Hero from "@/components/Hero.astro";
---

<section id="landingPage" class="container__landing">
  <Hero />
</section>

<script is:inline>
  const btn = document.querySelector("#categoryAnchor");
  const target = document.querySelector("#categories");

  if (btn && target) {
    btn.addEventListener("click", () => {
      target.scrollIntoView({
        behavior: "smooth",
        block: "start"
      });
    });
  }
</script>
