---
import "@/assets/styles/landing.css";
import Categories from "@/components/Categories.astro";
import Hero from "@/components/Hero.astro";
---

<!-- Landing Page -->
<div id="landingPage">
  <Hero />
  <Categories />
</div>

<!-- Games Page -->
