---
import "@/assets/styles/poems.css";
import BackIcon from "@/components/Back.astro";
import Help from "@/components/Help.astro";
import PoemCard from "@/components/PoemCard.astro";
import PoemDialog from "@/components/PoemDialog.astro";
import SharePopover from "@/components/ShareButton.astro";
import SquareBubble from "@/components/SquareBubble.astro";
import poem from "@/data/poem.json";
import BaseLayout from "@/layouts/Base";
import "@/utils/common"; /* for sortBy method */
const { poems } = poem;
poems.sortBy("title");

const meta = {
  title: "Poems",
  description: "Read and listen to fun, educational poems for kids. Bright, playful, and easy to navigate!"
};
---

<BaseLayout meta={meta}>
  <BackIcon />
  <Fragment slot="header-right">
    <SharePopover />
    <Help
      title="Poems"
      description="Poems page features a bright, playful design filled with short, themed poems. Children can read & listen to poems. Easy navigation and colorful visuals engaging young readers, parents and teachers alike."
    />
  </Fragment>
  <div class="container__poems">
    <SquareBubble>
      <div slot="bobble-context" class="context">
        <div>Welcome to Poem World!</div>
        <div>Hello, little reader!</div>
      </div>
    </SquareBubble>
    <div class="outer__poem">
      <div class="container__card">
        {poems.map((poem) => <PoemCard title={poem.title} lines={poem.lines} emoji={poem.cute_emoji} />)}
      </div>
    </div>
    <PoemDialog />
  </div>
</BaseLayout>
