---
import "@/assets/styles/sample.css";
import "@/assets/styles/scroll.css";
import Help from "@/components/Help.astro";
import NameForm from "@/components/NameForm.astro";
import BaseLayout from "@/layouts/Base";
---

<BaseLayout meta={{ title: "Sample Page" }}>
  <Fragment slot="header-right">
    <Help title="Sample Dialog" description="This is sample dialog which need your details if you want to give?" />
    <NameForm />
  </Fragment>
  <Fragment slot="output">
    <p>
      Previous Name: <output></output>
    </p>
  </Fragment>
  <section>
    <div id="container" class="container__scroll">
      <div id="square"></div>
      <div id="stretcher"></div>
    </div>
  </section>
</BaseLayout>
