---
import "@/assets/styles/scroll.css";
---

<div class="container__scrolling">
  <section class="scroll__section">
    <div id="square"></div>
    <div id="stretcher"></div>
  </section>
</div>
