---
import "@/assets/styles/snapping.css";
---

<section class="container__snapping">
  <section class="x proximity-scroll-snapping cards" dir="ltr">
    <div>X Proximity</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
  </section>

  <section class="x mandatory-scroll-snapping" dir="ltr">
    <div>X Mandatory</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
  </section>
</section>
