---

---

<style>
  .container__cards {
    --top: 0;
    --tilt-angle: 3deg;
    --r: 0.5;
    display: grid;
    grid-template-rows: 1fr max-content;
    height: 100vh;
    width: 30rem;
    margin: auto;
    font-size: 2.4rem;
    /*top: 10vh;*/
    overflow-x: auto;
    scroll-snap-type: x proximity;

    &:hover {
      --top: 20;
      --tilt-angle: 10;
      --r: 1.2;
    }
  }

  .card {
    position: sticky;
    top: calc(var(--top) * 1px);
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #53ccbb;
    border-radius: 0.5em;
    padding: 3em;
    margin-bottom: 2em;
    transform: rotate(calc(var(--tilt-angle) * (2 * (var(--r) - 0.5))));
    transition: all 0.3s ease;
  }

  .card:nth-child(n) {
    --r: 0.7;
    --top: 0;
  }

  .card:nth-child(n + 1) {
    --r: 0.2;
    --top: 50;
  }

  .card:nth-child(n + 2) {
    --r: 0.9;
    --top: 100;
  }

  .card:nth-child(n + 3) {
    --r: 0.4;
    --top: 150;
  }
</style>
<section id="stack" class="container__cards" dir="ltr">
  <div class="card">1</div>
  <div class="card">2</div>
  <div class="card">3</div>
  <div class="card">4</div>
  <div class="card">5</div>
</section>
