---
import BaseLayout from "@/layouts/Base";
import { Content } from "@/content/md/support.md";
import "@/assets/styles/support.css";
---

<BaseLayout meta={{ title: "Support & Help Center" }}>
  <div class="support-container">
    <Content />
  </div>
</BaseLayout>
