---
import "@/assets/styles/support.css";
import { Content } from "@/content/support.md";
import BaseLayout from "@/layouts/Base";
---

<BaseLayout meta={{ title: "Support & Help Center" }}>
  <div class="support-container">
    <Content />
  </div>
</BaseLayout>
