---
import BaseLayout from "@/layouts/Base";
import Back from "@/components/Back.astro";
import ZodiacGrid from "@/components/ZodiacGrid.astro";
import Headers from "@/components/Header.astro";
import "@/assets/styles/Sunsigns.css";

---
<BaseLayout meta={{ title: "Nakshtra Nexus" }}>
  <Back />
  <Headers />
    <main>
      <ZodiacGrid />
    </main>
    <script type="module" src="/js/main.js"></script>