---
import ManWithKeyboard from "@/assets/icons/man_with_keyboard.svg";
import "@/assets/styles/home/hero-section.css";
---

<section class="hero hero-row">
  <div class="hero-text">
    <h1>Joyful learning starts here!</h1>
    <p class="lead">
      Inspire a lifetime of learning and discovery with our free, fun educational program for children ages two to
      eight.
    </p>
    <div class="cta-buttons">
      <a href="/varnmala">
        <button class="button green">Start Learning Now</button>
      </a>
      <a href="/survey">
        <button class="button gray">For Parents</button>
      </a>
    </div>
    <span class="note">100% FREE! No ads, no subscriptions.</span>
  </div>
  <div class="hero-image">
    <ManWithKeyboard class="hero-svg" />
  </div>
</section>
