---
import BackIcon from "@/assets/icons/back.svg";
---

<a href="/" class="back">
  <BackIcon />
</a>

<style>
  .back {
    display: flex;
    cursor: pointer;
    color: var(--text);
    width: 2rem;
  }
  .back:hover {
    color: var(--primary);
  }
</style>
