---
interface Props {
  title: string;
  description: string;
  cardType: "grid" | "kbd";
  href: string;
}

const { title, description, cardType, href } = Astro.props;
---

<a href={href} class={`selection-card ${cardType}-card`}>
  <div class="card-icon">
    <slot name="grid-icon" />
    <slot name="keyboard-icon" />
  </div>
  <h2 class="card-title">{title}</h2>
  <p class="card-description">{description}</p>
</a>