---
import LanguageSwitcher from "./LanguageSwitcher.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header>
  <h1>Nakshtra Nexus</h1>
  <div class="controls">
    <LanguageSwitcher />
    <DarkModeToggle />
  </div>
</header>
