---
import "@/assets/styles/page-header.css";

const { title, hasBack = true } = Astro.props;
---

<header class="header">
  <div class="action-group">
    <slot name="left">
      {
        hasBack && (
          <a href="/" class="back">
            Back
          </a>
        )
      }
    </slot>
  </div>
  <div class="caption"><h1>{title}</h1></div>
  <div class="action-group">
    <slot name="right">
      <slot />
    </slot>
  </div>
</header>

<style>
  .action-group {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .action-group :global(button),
  .action-group :global(a) {
    white-space: nowrap;
  }
</style>
