---
// src/components/Hero.astro
---

<section class="hero">
  <div class="container__hero">
    <h1>Find the Perfect Game for Every Age</h1>
    <p>
      Discover fun, engaging, and educational activities tailored to different age groups. From toddlers to adults, we
      have something for everyone!
    </p>
    <a href="#categories" class="cta-button">Explore Categories</a>
  </div>
</section>
