---
// src/components/Hero.astro
---

<div class="hero">
  <section class="container__hero" id="scroll-hero">
    <h1>Find the Perfect Game for Every Age</h1>
    <p>
      Discover fun, engaging, and educational activities tailored to different age groups. From toddlers to adults, we
      have something for everyone!
    </p>
    <button id="categoryAnchor" class="animated-button">Explore Categories</button>
  </section>
</div>
