---
import "@/assets/styles/mobile-splash.css";
import { Image } from "astro:assets";
import logoImage from "public/assets/images/abcd.png";
const { stay = true } = Astro.props;
---

<div id="mobile-splash-wrapper" class="container__splash">
  <div class="container_splash_card">
    <Image src={logoImage} alt="logo of abcd" width="50" height="50" />
    <h1 class="container_splash_heading"><strong>This page is best experienced on desktop</strong></h1>
    <p class="container_splash_text">
      Revisit on desktop to check out abcdkbd.com. We will optimize for mobile soon. Stay tuned…
    </p>
    <div class="container_splash_buttons">
      <a id="continue" class="container_splash_btn container_splash_btn_secondary" rel="noopener noreferrer"
        >📱 Continue on mobile</a
      >
    </div>
  </div>
</div>
<script define:vars={{ stay }} is:inline>
  const splashWrapper = document.getElementById("mobile-splash-wrapper");
  const continueBtn = document.getElementById("continue");

  if (window.innerWidth < 768) {
    const userHasConsent = localStorage.getItem("viewAsDesktop") === "true";

    if (stay) {
      splashWrapper.style.display = "flex"; // always show
    } else {
      if (!userHasConsent) {
        splashWrapper.style.display = "flex"; // first time
      } else {
        splashWrapper.style.display = "none"; // skip next time
      }
    }

    continueBtn?.addEventListener("click", () => {
      localStorage.setItem("viewAsDesktop", "true");
      splashWrapper.style.display = "none";
    });
  }
</script>
