---
import OpenIcon from "@/assets/icons/open.svg";
import "@/assets/styles/poem-card.css";

export interface Props {
  title: string;
  lines: string[];
  emoji: string;
}
const { title, lines, emoji } = Astro.props;
---

<div class="card-wrapper">
  <div class="poem-card" onclick={`showPoem("${title}", ${JSON.stringify(lines)})`}>
    <div class="emoji-content">
      <span class="overlay"></span>
      <div class="card-indicator">
        <OpenIcon />
      </div>
      <div class="card-emoji">
        <div class="card-emo">{emoji}</div>
      </div>
    </div>
    <div class="card-content">
      <h2 class="name">
        {title}
      </h2>
    </div>
  </div>
</div>
