---
import "@/assets/styles/map/popup.css";
---

<!-- Popover Panel -->
<div class="container__popover">
  <div id="popup-panel" class="state-popup" popover="hint">
    <button popovertarget="popup-panel" popovertargetaction="hide" class="state-popup__close">&times;</button>
    <div class="state-popup__content">
      <div class="state-popup__name" id="popup-name">State Name</div>
      <img class="state-popup__image" id="popup-image" src="" alt="State Image" />
      <div class="state-popup__info" id="popup-info">State Information</div>
      <div class="state-popup__buttons">
        <button class="state-popup__button state-popup__button--more" id="see-more-btn">See More</button>
      </div>
    </div>
  </div>
</div>

<script is:inline>
  const popup = document.getElementById("popup-panel");
  const popupName = document.getElementById("popup-name");
  const popupInfo = document.getElementById("popup-info");
  const popupImage = document.getElementById("popup-image");
  const seeMoreBtn = document.getElementById("see-more-btn");

  document.addEventListener("showStatePopup", (e) => {
    const { stateInfo } = e.detail;
    popupName.textContent = stateInfo.name.length > 16 ? stateInfo.name.slice(0, 14) + ".." : stateInfo.name;
    popupInfo.innerHTML = `<p><strong>State Dance:</strong> ${stateInfo.dance}</p>`;
    popupImage.src = `/map/images/${stateInfo.image}`;
    popupImage.alt = `${stateInfo.name} state image`;
    popup.showPopover();
  });

  seeMoreBtn.addEventListener("click", () => {
    popup.hidePopover();
    setTimeout(() => {
      const stateName = popupName.textContent;
      if (stateName) {
        const stateUrl = stateName.replace(/\s+/g, "").toLowerCase();
        window.location.href = `/map/${stateUrl}`;
      }
    }, 50);
  });
</script>
