<!-- HTML Structure -->
<div class="state-popup">
  <span class="state-popup__close">&times;</span>
  <div class="state-popup__name">State Name</div>
  <img class="state-popup__image" src="" alt="State Image" />
  <div class="state-popup__info">State Information</div>
  <div class="state-popup__buttons">
    <!--<button class="state-popup__button state-popup__button--copy">Copy Info</button>-->
    <button class="state-popup__button state-popup__button--more">See More</button>
  </div>
</div>

<script>
  const popup = document.querySelector(".state-popup") as HTMLElement;
  const popupStateName = document.querySelector(".state-popup__name") as HTMLElement;
  const popupStateInfo = document.querySelector(".state-popup__info") as HTMLElement;
  const popupStateImage = document.querySelector(".state-popup__image") as HTMLImageElement;
  const seeMoreButton = document.querySelector(".state-popup__button--more") as HTMLElement;
  const closePopup = document.querySelector(".state-popup__close") as HTMLElement;
  //const copyButton = document.querySelector(".state-popup__button--copy") as HTMLElement;

  document.addEventListener("showStatePopup", (e) => {
    const {stateInfo } = e.detail;
    popupName.textContent = stateInfo.name.length > 16 ? stateInfo.name.slice(0, 14) + ".." : stateInfo.name;
    popupInfo.innerHTML = `<p><strong>State Dance:</strong> ${stateInfo.dance}</p>`;
    popupImage.src = `/map/images/${stateInfo.image}`;
    popupImage.alt = `${stateInfo.name} state image`;
    popup.showPopover();
  });

  seeMoreBtn.addEventListener("click", () => {
    popup.hidePopover(); 
    setTimeout(() => {
    const stateName = popupName.textContent;
    if (stateName) {
      const stateUrl = stateName.replace(/\s+/g, "").toLowerCase();
      window.location.href = `/map/${stateUrl}`;
    }
  }, 50); 
});

</script>
