---
import "@/assets/styles/squarebubble.css";
---
<div class="home_outer">
  <div class="home_start">
    <div class="context">
      <div>Welcome to Poem World!</div>
      <div>Hello, little reader!</div>
    </div>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
