---
import { locations } from '../data/location';

const { type = 'state' } = Astro.props;
const list = type === 'state' 
    ? locations.filter(loc => loc.isState)
    : locations.filter(loc => !loc.isState);
---

<section id={type}>
    <h2>{type === 'state' ? 'State List' : 'Union Territory List'}</h2>
    {list.map((item) => (
        <article>
            <details>
                <summary>{item.name}</summary>
                <p>{item.capital}</p>
            </details>
        </article>
    ))}
</section>

<style>
section {
    width: 100%;
    padding: 0.5rem;
    display: grid;
    grid-auto-flow: row;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
}

article {
    max-height: 10rem;
    text-transform: capitalize;
    font-variant: small-caps;
    padding: 0.5rem;
    margin-block: 0.5rem;
}

details {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 1px 1rem;
    border-color: #f16db9;
    padding: 0.5rem 0.5rem 0;
    margin-inline: 0.5rem;
}

details[open] {
    border-width: 1px 1rem;
    border-inline-color: black;
    padding: 0.5rem;
}

details summary {
    color: #cf3489;
    font-size: large;
    cursor: pointer;
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details summary::marker {
    font-size: 1.4rem;
    color: green;
    margin-left: 8px;
}

details p {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    padding: 0.25rem;
}

@media (max-width: 700px) {
    section {
        grid-template-columns: 1fr;
    }
}
</style>