<div class="container__zodiac" id="zodiacsGrid"></div>
<div class="modal" id="zodiacModal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <img id="modalImage" src="" alt="Zodiac Image" />
    <h3 id="modalTitle"></h3>
    <p id="modalDescription"></p>
    <ul id="modalPoints"></ul>
  </div>
</div>
