.container__map {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  position: relative;

  & svg {
    max-width: 100%;
  }

  .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    pointer-events: none;
    z-index: 500;
    display: none;
    transform: translate(-15vw, -20vh);
    margin-top: -10px;
  }

  @media screen and (min-width: 768px) {
    .tooltip {
      transform: translate(-50%, -120%);
      margin-top: -15px;
    }
  }

  @media screen and (min-width: 1200px) {
    .tooltip {
      transform: translate(-15vw, -20vh);
      margin-top: -20px;
    }
  }

  & path {
    fill: #aee38a;
    cursor: pointer;
    transition:
      fill 0.5s ease,
      transform 0.5s ease;
  }

  & path:hover {
    fill: #ffa500;
    transform: scale(1);
  }
}