.container_map {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  position: relative;

  svg {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    pointer-events: none;
    z-index: 500;
    display: none;
    transform: translate(-400%, -200%);
  }

  path {
    fill: #aee38a;
    cursor: pointer;
    transition:
      fill 0.5s ease,
      transform 0.5s ease;

    &:hover {
      fill: #ffa500;
      transform: scale(1);
    }
  }
}
