---
// src/pages/index.astro
import Layout from '@/layouts/mapLayouts/indiaMapLayout';
import Map from '@/components/Map.astro';
import Popup from '@/components/Popup.astro';



---

<Layout title="Interactive India Map">
  <h1>Explore Dances Of India</h1>
  <Map />
  <Popup/>
</Layout>
