---
import "@/assets/styles/header.css";
import { APP_NAME } from "@/utils/constants";
import { Picture } from "astro:assets";
import logoImage from "/public/assets/images/512x512.png";

const { hasBack = true } = Astro.props;
---

<style>
  .logo__link {
    display: flex;
    align-items: center;
    & span {
      margin-inline: 1rem;
    }
  }
</style>
<header class="header">
  <div class="header__brand">
    <a href="/" class="logo__link">
      <Picture src={logoImage} formats={["png", "webp"]} alt="template logo" class="logo" />
      <span title={APP_NAME}>{APP_NAME}</span>
    </a>
  </div>
  <div class="title">Welcome to the world of learning</div>

  <!--<div class="caption">
    <a href="/" class:list={{ "is-active": Astro.url.pathname === "/home" || Astro.url.pathname === "/" }}>Home</a>
    <a href="/about" class:list={{ "is-active": Astro.url.pathname.startsWith("/about") }}>About</a>
    <a href="/parent" class:list={{ "is-active": Astro.url.pathname.startsWith("/parent") }}>Parents</a>
    <a href="/teacher" class:list={{ "is-active": Astro.url.pathname.startsWith("/teacher") }}>Teachers</a>
  </div>-->

  <div class="action-group">
    <slot name="left" />
    <slot name="right" />
  </div>
</header>
<div class="header-spacer"></div>
