---
import "@/assets/styles/tile.css";
import BackButton from "@/components/BackButton.astro";
import LetterCard from "@/components/LetterCard.astro";
import glossaryData from "@/data/glossary.json";
import BaseLayout from "@/layouts/Base";
import type { AlphabetEntry } from "@/types/alphabet";
import Help from "@/components/Help.astro";
import SharePopover from "@/components/ShareButton.astro";

export async function getStaticPaths() {
  return Object.keys(glossaryData).map((value) => ({
    params: { item: value }
  }));
}

const { item } = Astro.params;
const categoryData = item ? (glossaryData as any)[item] : undefined;
const { title, data, category } = categoryData || {};

if (!categoryData) {
  throw new Error("Glossary category not found");
}
---

<BaseLayout meta={{ title }}>
  <Fragment slot="header-left">
    <SharePopover />
    <Help title="Glossary" description="Learn new information from the selected category!" />
  </Fragment>
  <div class="container__page">
    <div class="page__header">
      <BackButton href="/glossary" />
      <h2 class="page__title">{title}</h2>
      <button id="flip-all-button" class="btn__flip__all">Flip All Cards</button>
    </div>
    <div class="page__content">
      <div class="page__grid">
        {data.map((entry: AlphabetEntry) => <LetterCard item={entry} category={category} />)}
      </div>
    </div>
  </div>
</BaseLayout>
