---
import "@/assets/styles/glossary/glossary.css"; 
import BackButton from "@/components/BackButton.astro";
import LetterCard from "@/components/LetterCard.astro";
import glossaryData from "@/data/glossary.json";
import BaseLayout from "@/layouts/Base";

const pageTitle = glossaryData.days.title;
const category = "days";
const daysData = glossaryData.days.data;
---

<BaseLayout meta={{ title: pageTitle }}>
  <BackButton href="/Glossary" />
  <article class="container__page alphabet-page-container">
    <div class="page-header">
      <h1 class="page-main-title">{pageTitle}</h1>
      <button id="flip-all-button" class="flip__all__button">Flip All Cards</button>
    </div>

    <div class="grid-container glossary-grid">
      {
        daysData.map((entry) => {
          const letterCardItem = {
            id: entry.id,
            letter: entry.letter, 
            text: entry.hindi,      
            description: entry.id 
          };
          return <LetterCard item={letterCardItem} category={category} />;
        })
      }
    </div>
  </article>
</BaseLayout>
