---
import BaseLayout from "@/layouts/Base";
import BackButton from "@/components/BackButton.astro";
import LetterCard from "@/components/LetterCard.astro";
import "@/assets/styles/glossary/glossary.css";
// import "@/assets/styles/glossary/flags.css";
import glossaryData from "@/data/glossary.json";

const pageTitle = glossaryData.flags.title;
const flagsData = glossaryData.flags.data;

const getFlagEmoji = (countryCode: string = "IN") => {
  const codePoints = countryCode
    .toUpperCase()
    .split("")
    .map((char) => 127397 + char.charCodeAt(0));
  return String.fromCodePoint(...codePoints);
};
---

<BaseLayout meta={{ title: pageTitle }}>
  <BackButton href="/Glossary" />
  <article class="container__page alphabet-page-container">
    <div class="page-header">
      <h1 class="page-main-title">{pageTitle}</h1>
      <button id="flip-all-button-page" class="flip__all__button">Flip All Cards</button>
    </div>

    <div class="grid-container alphabet-grid flags-grid">
      {
        flagsData.map((entry) => (
          <LetterCard
            item={{
              ...entry,
              letter: getFlagEmoji(entry.countryCode),
              text: entry.text,
              description: entry.description,
            }}
            category="flags"
          />
        ))
      }
    </div>
  </article>
</BaseLayout>
