---
import "@/assets/styles/varnmala/index.css";
import "@/assets/styles/varnmala/sunsign.css";
import BackButton from "@/components/BackButton.astro";
import SunSignCard, { type SunSignEntry } from "@/components/SunSignCards.astro";
import glossaryData from "@/data/glossary.json";
import BaseLayout from "@/layouts/Base";

const {
  sunsign: { title, data }
} = glossaryData;
---

<BaseLayout meta={{ title }}>
  <BackButton href="/glossary" />
  <div class="container__page sun-sign-page-container">
    <div class="page-header">
      <h1 class="page-main-title">{title}</h1>
      <button id="flip-all-sunsigns-button" class="flip__all__button">Flip All Cards</button>
    </div>
    <div class="grid-container sun-signs-grid">
      {data.map((sign) => <SunSignCard item={sign} />)}
    </div>
  </div>
</BaseLayout>
