---
import "@/assets/styles/alphabets/[alphabet]/board.css";

import LetterCard from "@/components/LetterCard.astro";

import rawAlphabetData from "@/data/alphabets.json";
import BaseLayout from "@/layouts/Base";
import { type AlphabetsData } from "@/types/alphabet.ts";

import BackButton from "@/components/ui/backButton.astro";

const alphabetData = rawAlphabetData as AlphabetsData;

export async function getStaticPaths() {
  const alphabetData = rawAlphabetData as AlphabetsData;
  const categories = Object.keys(alphabetData);

  return categories.map((category) => ({
    params: { alphabet: category }
  }));
}

const { alphabet } = Astro.params;

const data = alphabetData[alphabet as keyof AlphabetsData].data;
---

<BaseLayout meta={{ title: `Alphabets - ${alphabet.charAt(0).toUpperCase() + alphabet.slice(1)}` }}>
  <article class="container__alphabets">
    <BackButton />
    <div class="container__alphabet">
      <div class="list">
        {
          data &&
            Object.values(data).map((d) => {
              return <LetterCard item={d} category={alphabet} />;
            })
        }
      </div>
    </div>
  </article>
</BaseLayout>
