---
import "@/assets/styles/tile.css";
import BackButton from "@/components/BackButton.astro";
import LetterCard from "@/components/LetterCard.astro";
import BaseLayout from "@/layouts/Base";
import { DATASET } from "@/mappers/dataset";

export const prerender = true;

export async function getStaticPaths() {
  return Object.keys(DATASET).map((category) => ({
    params: { alphabet: category }
  }));
}

const { alphabet } = Astro.params;

const data = DATASET[alphabet].data;
---

<BaseLayout meta={{ title: `Alphabets - ${alphabet.charAt(0).toUpperCase() + alphabet.slice(1)}` }}>
  <article class="container__page">
    <div class="page__header">
      <BackButton />
      <button id="flip-all-button" class="btn__flip__all">Flip All Cards</button>
    </div>
    <div class="page__content">
      <div class="page__grid">
        {data.map((d) => <LetterCard item={d} category={alphabet} />)}
      </div>
    </div>
  </article>
</BaseLayout>
