---
---

<div id="stateModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-header">
      <h2 id="stateName"></h2>
    </div>
    <div class="modal-body">
      <p>Capital: <span id="stateCapital"></span></p>
      <p>Area: <span id="stateArea"></span></p>
      <p>Languages: <span id="stateLanguages"></span></p>
      <p>Dance Forms: <span id="stateDance"></span></p>
      <p>Literacy Rate: <span id="stateLiteracy"></span></p>
      <p>Description: <span id="stateDescription"></span></p>
    </div>
    <div class="modal-footer">
      <button id="copyButton">
        <i class="fas fa-copy"></i> Copy
      </button>
    </div>
  </div>
</div>
