---
import Queue from "@/assets/icons/queue.svg";
import Stack from "@/assets/icons/stack.svg";
import "@/assets/styles/cards/main.css";
import BackIcon from "@/components/Back.astro";
import BaseLayout from "@/layouts/Base";

const meta = {
  title: "Alphabet Explorer: Learn with Motion",
  description: "Choose your display mode to explore the world of cards"
};
---

<BaseLayout meta={meta}>
  <a href="/" class="back"><BackIcon class="bck" /></a>
  <div class="selection-container">
    <h1 class="selection-title">Explore Display Modes</h1>
    <div class="selection-buttons-grid">
      <a href="/cards/stack" class="selection-card">
        <div class="card-icon">
          <Stack />
        </div>
        <h2 class="card-title">Stack Display</h2>
        <p class="card-description">Craft Your Alphabet Tower</p>
      </a>
      <a href="/cards/queue" class="selection-card">
        <div class="card-icon">
          <Queue />
        </div>
        <h2 class="card-title">Queue Display</h2>
        <p class="card-description">Customize Your Alphabet Flow</p>
      </a>
      <a href="/cards/slider" class="selection-card">
        <div class="card-icon">
          <Queue />
        </div>
        <h2 class="card-title">Slider Display</h2>
        <p class="card-description">Customize Your Alphabet Flow</p>
      </a>
    </div>
  </div>
</BaseLayout>
