:root {
  /*color-scheme: light dark;*/
  --text: light-dark(blue, yellow);
  --base: color(rgb(68, 137, 166));
}

.container__alphabet {
  padding: 1rem;
  display: grid;
  grid-gap: 4px;
  container-type: inline-size;
  container-name: alphabet;
  font-family: "atkinson";

  & h1 {
    font-size: 2rem;
    text-align: center;
    border: 1px solid var(--border);
    border-radius: 1rem;
    background: var(--background);
    padding: 1rem;
  }

  & .list {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(5, minmax(20rem, 1fr));
    margin-block: 2rem;

    & .letter {
      display: grid;
      grid-auto-flow: row;
      justify-items: center;
      align-content: center;
      color: var(--text, grey);
      border: 2px solid var(--bc);
      border-radius: 0.5rem;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
      padding: 1rem;
      height: fit-content;
      transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
      background: var(--background);

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
      }

      .character {
        font-size: clamp(3.5rem, 9vw, 7rem);
      }

      & p {
        font-size: clamp(2.5rem, 5vw, 5rem);
        text-align: center;
        width: 100%;
        margin: 0.5rem 0;
      }

      & .code {
        cursor: pointer;
        font-size: 1rem;
        color: var(--primary);
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        background: var(--background-alt);
      }

      & def {
        color: color-mix(in srgb, var(--text) 50%, white);
      }

      p::selection {
        color: red;
        background-color: yellow;
        text-shadow: 5px 5px #558abb;
      }
    }
  }
}

@container alphabet (width <=768px) {
  .container__alphabet {
    & .list {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    & .letter {
      color: black;
      font-size: max(1.5em, 1.23em + 2cqi);
    }

    & def {
      font-size: 1.5rem;
    }
  }
}
