.bubble__container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  container-type: inline-size;
  container-name: bubble;
}

.bubble__board {
  border-radius: 0.75rem;
  width: 100%;
  height: 30vh;
  position: relative;
}

.slot {
  height: 100%;
  border-radius: 4px;
  z-index: 10;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.slot > div {
  font-size: 3rem;
  position: relative;
  font-weight: 700;
  color: var(--primary);
}

@container bubble (max-width: 480px) {
  .bubble__board {
    height: 65vh;
  }
}

.bubble__area {
  border-radius: inherit;
  background: var(--container-bg);
  width: 100%;
  height: 100%;
}

.bubble_square {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bubble_square li {
  position: absolute;
  list-style: none;
  width: 20px;
  height: 20px;
  display: block;
  background: #ffffff33;
  bottom: -150px;
  animation: animate 25s linear infinite;
}

.bubble_square li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  background:
    linear-gradient(var(--container-bg), var(--container-bg), var(--container-bg)) padding-box,
    linear-gradient(45deg, #5d069b, #09009f, #00ff95) border-box;
  border: 8px solid transparent;
  animation-delay: 0s;
}

/* copy code from here */
.bubble_square li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  background:
    linear-gradient(var(--container-bg), var(--container-bg)) padding-box,
    linear-gradient(45deg, #d4145a, #fbb03b) border-box;
  border: 2px solid transparent;
  animation-delay: 2s;
  animation-duration: 12s;
}

.bubble_square li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  background:
    linear-gradient(var(--container-bg), var(--container-bg)) padding-box,
    linear-gradient(45deg, #009245, #fcee21) border-box;
  border: 2px solid transparent;
  animation-delay: 4s;
}

.bubble_square li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  background:
    linear-gradient(var(--container-bg), var(--container-bg)) padding-box,
    linear-gradient(45deg, #662d8c, #ed1e79) border-box;
  border: 6px solid transparent;
  animation-delay: 0s;
  animation-duration: 18s;
}

.bubble_square li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  background:
    linear-gradient(var(--container-bg), var(--container-bg)) padding-box,
    linear-gradient(45deg, #353a5f, #9ebaf3) border-box;
  border: 2px solid transparent;
  animation-delay: 0s;
}

.bubble_square li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  background:
    linear-gradient(var(--container-bg), var(--container-bg)) padding-box,
    linear-gradient(45deg, #c33764, #1d2671) border-box;
  border: 11px solid transparent;
  animation-delay: 3s;
}

.bubble_square li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  background:
    linear-gradient(var(--container-bg), var(--container-bg)) padding-box,
    linear-gradient(45deg, #737dfe, #ffcac9) border-box;
  border: 15px solid transparent;
  animation-delay: 7s;
}

.bubble_square li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  background:
    linear-gradient(var(--container-bg), var(--container-bg)) padding-box,
    linear-gradient(45deg, #aaffe2, #00d191) border-box;
  border: 2.5px solid transparent;
  animation-delay: 15s;
  animation-duration: 45s;
}

.bubble_square li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  background:
    linear-gradient(var(--container-bg), var(--container-bg)) padding-box,
    linear-gradient(45deg, #2fbdff, #ff7582) border-box;
  border: 1.5px solid transparent;
  animation-delay: 2s;
  animation-duration: 35s;
}

.bubble_square li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  background:
    linear-gradient(var(--container-bg), var(--container-bg)) padding-box,
    linear-gradient(45deg, #fad126, #ff564e) border-box;
  border: 15px solid transparent;
  animation-delay: 0s;
  animation-duration: 11s;
}

/* copy code till here */

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    border-radius: 50%;
  }
}
