.tv {
  container-type: inline-size;
  container-name: main;
  border: 0.5rem outset pink;
  outline: 0.5rem solid khaki;
  box-shadow: 0 0 0 2rem skyblue;
  border-radius: 12px;
  font: bold 1rem sans-serif;
  margin-inline: 5rem;
  padding: 1rem;
  outline-offset: 0.5rem;
}

.rdb {
  border: 1px solid red;
}

.odb {
  outline: 1px solid red;
}


/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.link__active,
.text__active {
  color: hsl(from blue 80 10 10);
}

.content {
  min-height: 100vh;
}

.layout {
  height: fit-content;
  max-height: 100dvh;
}

.txt__center {
  text-align: center;
}

.hide {
  content-visibility: hidden;
}

::disabled {
  pointer-events: none;
}

.no__link {
  text-decoration: none;
}

.text__balance {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-size-adjust: auto;
  text-shadow: #fc0 1px 0 10px;
  text-wrap-style: balance;
}