.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--background);
  height: var(--header-h);
  padding: 0 1.5rem;
  min-height: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  .header__brand {
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .logo__link {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--primary);
      text-decoration: none;
    }

    .logo {
      width: 3rem;
      height: 3rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 600;
      margin-inline-start: 1rem;
      color: var(--primary);

      & span {
        color: #6d8c3d;
      }
    }
  }


  .nav__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;

    a {
      color: var(--text);
      text-decoration: none;
      font-weight: 500;
      transition: var(--transition);
      position: relative;

      &:hover {
        color: var(--primary);

        ::after {
          width: 100%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--primary);
        transition: var(--transition);
      }
    }
  }

  .action__group {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  [slot="header-right"] {
    display: flex;
    align-items: center;
    max-width: 33vw;
    flex-wrap: nowrap;
    justify-content: flex-end;
    border: 2px dashed red;
  }

  .controls {
    flex-shrink: 0;
  }

  .switch {
    background-color: black;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
  }

  .header-spacer {
    min-height: 5rem;
    border-bottom: 1px dotted grey;
  }
}