.dialog-header {
  border-radius: 1rem 1rem 0 0;
}

.dialog-content {
  background-color: wheat;
  border-radius: 0 0 1rem 1rem;
}

.help {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.5rem;
  width: 2rem;
  height: 2rem;
  color: var(--primary);
  border-radius: 50%;
  border: 1.5px solid var(--primary);
  cursor: pointer;
}

form {
  width: auto;
}

label {
  color: #911168;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  background-color: white;
  color: black;
  width: 100%;
  border: 1px solid grey;

  &.input__name {
    padding-inline: 0.5rem;
    font-size: 1rem;
    color: hsl(from black 20 40 10);
    letter-spacing: 0.5ch;
  }

  &:focus {
    border-width: 2px;
  }
}

.button__group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button {
  background-color: white;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #040000;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &.confirm {
    background-color: rgb(199 203 223);
  }

  &.cancel {
    background-color: rgb(245, 245, 245);
  }

  &:hover,
  &:focus {
    background-color: #f082ac;
  }
}

.close {
  outline: 2px solid grey;
  font-size: 1rem;
  width: 32px;
  height: 33px;
  color: black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

output {
  background-color: yellow;
  color: green;
  padding-inline: 4px;
  font-style: italic;
}