.outer__poem {
  width: 100%;
  position: relative;
}

.container__card {
  width: 100%;
  position: relative;
  background-color: var(--container-bg);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 1rem;
  row-gap: 2rem;
  padding: 5rem 1rem;
  margin-top: 0.5rem;
  /*padding: 8rem 0 ;*/
  justify-content: space-evenly;
  align-content: center;
  border-radius: 0.75rem;
}

.card-wrapper {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poem-card {
  position: relative;
  height: 100%;
  width: 300px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.poem-card:hover {
  filter: brightness(0.95);
  transform: scale(1.03);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  color: var(--primary);

  .open-indicator {
    fill: var(--primary);
  }
}

@media (max-width: 480px) {
  .container__card {
    grid-template-columns: repeat(auto-fit, 300px);
  }

  .poem-card {
    width: 280px;
  }
}

/* Target every Nth .poem-card inside .container__card */
.container__card>.card-wrapper:nth-child(6n + 1) .poem-card,
.card-wrapper:nth-child(6n + 1) .poem-card .emoji-content .overlay::after {
  background-color: var(--poem-bg-1);
}

.container__card>.card-wrapper:nth-child(6n + 2) .poem-card,
.card-wrapper:nth-child(6n + 2) .poem-card .emoji-content .overlay::after {
  background-color: var(--poem-bg-2);
}

.container__card>.card-wrapper:nth-child(6n + 3) .poem-card,
.card-wrapper:nth-child(6n + 3) .poem-card .emoji-content .overlay::after {
  background-color: var(--poem-bg-3);
}

.container__card>.card-wrapper:nth-child(6n + 4) .poem-card,
.card-wrapper:nth-child(6n + 4) .poem-card .emoji-content .overlay::after {
  background-color: var(--poem-bg-4);
}

.container__card>.card-wrapper:nth-child(6n + 5) .poem-card,
.card-wrapper:nth-child(6n + 5) .poem-card .emoji-content .overlay::after {
  background-color: var(--poem-bg-5);
}

.container__card>.card-wrapper:nth-child(6n) .poem-card,
.card-wrapper:nth-child(6n) .poem-card .emoji-content .overlay::after {
  background-color: var(--poem-bg-6);
}

.emoji-content,
.card-content {
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji-content {
  row-gap: 5px;
  position: relative;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 2%;
  top: 2%;
  height: 96%;
  width: 96%;
  background-color: var(--container-bg);
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: var(--container-bg);
}

.overlay::after {
  border-radius: 0 25px 0 0;
  /*background-color: pink;*/
}

.card-emoji {
  position: relative;
  height: 150px;
  width: 150px;
  /*border-radius: 50%;
    background: #fff;*/
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-emoji .card-emo {
  font-size: 9rem;
  text-shadow: 0 -8px 18px rgba(0, 0, 0, 0.15);
}

.name {
  text-align: center;
}

.card-indicator {
  position: relative;
  margin-left: auto;
  right: 1rem;
  height: 24px;
}