
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --container-bg: #0f172a;
--color:#cbeafe;
  --poem-bg-1: #19134e;  /* red-700 */
  --poem-bg-2: #4e2513;  /* blue-700 */
  --poem-bg-3: #134e4a;  /* green-700 */
  /*--poem-bg-4: #3e4e13; */
    --poem-bg-4: #13444e;  /* yellow-700 */
  --poem-bg-5: #13324e;  /* orange-600 */
  --poem-bg-6: #131f4e;  /* purple-700 */

  --poem-text-color: #ffffff;
}

[data-theme="dark"] {
  --container-bg: #0f172a;
--color:#cbeafe;
  --poem-bg-1: #19134e;  /* red-700 */
  --poem-bg-2: #4e2513;  /* blue-700 */
  --poem-bg-3: #134e4a;  /* green-700 */
  /*--poem-bg-4: #3e4e13;*/
    --poem-bg-4: #13444e;  /* yellow-700 */
  --poem-bg-5: #13324e;  /* orange-600 */
  --poem-bg-6: #131f4e;

  --poem-text-color: #ffffff;
}

[data-theme="light"] {
  --container-bg: #fefcfb;
--color:#1a237e;
  --poem-bg-1: #fecaca;  /* pastel red */
  --poem-bg-2: #bfdbfe;  /* pastel blue */
  --poem-bg-3: #bbf7d0;  /* pastel green */
  --poem-bg-4: #fef08a;  /* pastel yellow */
  --poem-bg-5: #fed7aa;  /* pastel orange */
  --poem-bg-6: #ddd6fe;  /* pastel purple */

  --poem-text-color: #222;
}
.Container__poems{
  font-family: "Poppins", sans-serif;
  /*color:#1a237e;*/
  color:var(--color);
}
.home_outer{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
  .home_start{
    border-radius: 0.75rem;
    width: 100%;
    height: 85vh;
    /*background-color: brown;*/
    position: relative;
  }
  .context{
    border-radius: inherit;
    position: absolute;
        z-index: 10;
    width:  100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*background: #000;*/
  }
  .context > div{
    font-size: 5rem;
    position: relative;
    font-weight: 600;
  }
  .area{
    border-radius: inherit;
    background: var(--container-bg);
    width: 100%;
    height: 100%;
  }
.circles{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;padding: 0;
  overflow: hidden;
}
.circles li{
  position: absolute;
  list-style: none;
  width: 20px;
  height: 20px;
  display: block;
  background: #ffffff33;
  bottom: -150px;
  animation: animate 25s linear infinite;
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    background: linear-gradient(var(--container-bg) , var(--container-bg), var(--container-bg))
    padding-box,
    linear-gradient(45deg ,#5d069b , #09009f ,#00ff95)
    border-box;
    border: 8px solid transparent;
    animation-delay: 0s;
}

/* copy code from here */
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    background: linear-gradient(var(--container-bg), var(--container-bg))
    padding-box,
    linear-gradient(45deg ,#d4145a ,#fbb03b)
    border-box;
    border: 2px solid transparent;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    background: linear-gradient(var(--container-bg), var(--container-bg))
    padding-box,
    linear-gradient(45deg ,#009245 ,#fcee21)
    border-box;
    border: 2px solid transparent;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
        background: linear-gradient(var(--container-bg), var(--container-bg))
    padding-box,
    linear-gradient(45deg ,#662d8c ,#ed1e79)
    border-box;
    border: 6px solid transparent;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    background: linear-gradient(var(--container-bg), var(--container-bg))
    padding-box,
    linear-gradient(45deg ,#353a5f ,#9ebaf3)
    border-box;
    border: 2px solid transparent;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
        background: linear-gradient(var(--container-bg), var(--container-bg))
    padding-box,
    linear-gradient(45deg ,#c33764 ,#1d2671)
    border-box;
    border: 11px solid transparent;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
            background: linear-gradient(var(--container-bg), var(--container-bg))
    padding-box,
    linear-gradient(45deg ,#737dfe ,#ffcac9)
    border-box;
    border: 15px solid transparent;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
                background: linear-gradient(var(--container-bg), var(--container-bg))
    padding-box,
    linear-gradient(45deg ,#aaffe2 ,#00d191)
    border-box;
    border: 2.5px solid transparent;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    background: linear-gradient(var(--container-bg), var(--container-bg))
    padding-box,
    linear-gradient(45deg ,#2fbdff ,#ff7582)
    border-box;
    border: 1.5px solid transparent;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    background: linear-gradient(var(--container-bg), var(--container-bg))
    padding-box,
    linear-gradient(45deg ,#fad126 ,#ff564e)
    border-box;
    border: 15px solid transparent;
    animation-delay: 0s;
    animation-duration: 11s;
}

/* copy code till here */

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        /*opacity: 1;*/
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        /*opacity: 0;*/
        border-radius: 50%;
    }

}
  .outer__poem{
    width:100%;        
    position: relative;
  }
.container__PoemCard{
    width:100%;        
    position: relative;
    background-color:var(--container-bg);
    /*transition: background-color 0.4s ease;*/
    box-sizing: border-box;
    display: grid;
        grid-template-columns: repeat(auto-fit, 320px);
    gap: 1rem;
    row-gap: 2rem;
    padding: 5rem 1rem;
    margin-top: 0.5rem;
    /*padding: 8rem 0 ;*/
    justify-content: space-evenly;
    align-content: center;
    border-radius: 0.75rem;

}

.card-wrapper{
  /*background-color: red;*/
    /*box-sizing: border-box;*/
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.poem-card {
  position: relative;
  height: 100%;
    width: 300px;
    border-radius: 25px;
    /*background-color: pink;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
      transition:
    /*background-color 0.5s ease,*/
    /*color 0.5s ease,*/
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}
.poem-card:hover {
  filter: brightness(0.95);
  transform: scale(1.03);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

/* Target every Nth .poem-card inside .container__PoemCard */
.container__PoemCard > .card-wrapper:nth-child(6n + 1) .poem-card , .card-wrapper:nth-child(6n + 1) .poem-card .emoji-content .overlay::after{
    background-color: var(--poem-bg-1);
}
.container__PoemCard > .card-wrapper:nth-child(6n + 2) .poem-card , .card-wrapper:nth-child(6n + 2) .poem-card .emoji-content .overlay::after{
  background-color: var(--poem-bg-2);
}
.container__PoemCard > .card-wrapper:nth-child(6n + 3) .poem-card , .card-wrapper:nth-child(6n + 3) .poem-card .emoji-content .overlay::after{
  background-color: var(--poem-bg-3);
}
.container__PoemCard > .card-wrapper:nth-child(6n + 4) .poem-card , .card-wrapper:nth-child(6n + 4) .poem-card .emoji-content .overlay::after{
  background-color: var(--poem-bg-4);
}
.container__PoemCard > .card-wrapper:nth-child(6n + 5) .poem-card , .card-wrapper:nth-child(6n + 5) .poem-card .emoji-content .overlay::after{
  background-color: var(--poem-bg-5);
}
.container__PoemCard > .card-wrapper:nth-child(6n) .poem-card , .card-wrapper:nth-child(6n) .poem-card .emoji-content .overlay::after{
  background-color: var(--poem-bg-6);
}

.emoji-content , .card-content , .card-indicator{
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emoji-content{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 2%;
    top: 2%;
    height: 96%;
    width: 96%;
    background-color: var(--container-bg);
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content:'';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--container-bg);
}
.overlay::after{
    border-radius: 0 25px 0 0;
    /*background-color: pink;*/
}
.card-emoji{
    position: relative;
    height: 150px;
    width: 150px;
    /*border-radius: 50%;
    background: #fff;*/
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-emoji .card-emo{
font-size: 9rem;
text-shadow: 0 -8px 18px rgba(0, 0, 0, 0.15);
}
.name{
  text-align: center;
}
.open-indicator{
  fill: var(--color);
}
    .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    }
    .modal.hidden {
    display: none;
    }
    .modal-content {
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #cf485a;
    font-size: 2rem;
    font-weight: 600;
    /* background: #fff8f0; */
    padding: 2rem;
    border-radius: 1rem;
    height: 85%;
    aspect-ratio: 1/1;
    max-width: 800px;
    text-align: center;
    font-family: "Pacifico" ,"Kalam", 'Comic Sans MS', cursive;
        text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff, -3px 0px 0 #fff, 3px 0px 0 #fff, 0px -3px 0 #fff, 0px 3px 0 #fff;
    
    }
    .modal-content #modal-title{
        color: #e43b74;
            animation: bounce 1s infinite;
    }
    .close {
    position: absolute;
    top: 45px;
    right: 40px;
    font-size: 3rem;
    cursor: pointer;
    }
    .speaker-btn {
    position: absolute;
    top: 45px;
    left: 40px;
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
}
