/* following :root block added by css color collector */
:root {
  --main__txt--2: #ff61d5;
  --button__bg--3: hsl(60deg, 56%, 91%);
}

#container__reader {
  font-size: 20rem;
  display: grid;
  place-content: center;
  color: var(--main__txt--2);
  height: 100vh;
  outline: none;
  text-transform: uppercase;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
  will-change: contents;
  text-align: center;
  min-height: 60vh;
  line-height: 1;
  padding: 1rem;

  & span:hover,
  span:active,
  span.active {
    background-color: aliceblue;
    color: #6767d3;
  }
}

.center {
  display: grid;
  place-items: center;
}

.scroll {
  margin-top: 10px;
  scroll-behavior: smooth;
}

.button {
  font-size: 1.5rem;
  border: none;
  background-color: var(--button__bg--3);
  cursor: pointer;
  width: 2em;
}

.button-audio::before {
  content: "\1F508";
}

.button-audio.mute::before {
  content: "\1F507";
}

.speaker {
  padding-inline: 1rem;
  display: flex;
  flex-basis: fit-content;
  flex-grow: 1;
  margin: auto;
  justify-content: space-between;
  gap: 4px;
  cursor: pointer;
}

.speaker>span {
  padding: 0.5rem;
  border: 1px solid grey;
}