:root {
  --primary-color: #7b1fa2;
  --secondary-color: rgba(161, 10, 144, 0.72);
  --text-color: #f5f5f5;
  --bg-color1: #121212;
  --bg-color2: #1e1e1e;
  --card-bg: #1e1e1e;
  --header-bg: #1e1e1e;
  --footer-social-bg: #33353d;
}

[data-theme="dark"] {
  --primary-color: #7b1fa2;
  --secondary-color: rgba(161, 10, 144, 0.72);
  --text-color: #f5f5f5;
  --bg-color1: #121212;
  --bg-color2: #1e1e1e;
  --card-bg: #1e1e1e;
  --header-bg: #1e1e1e;
  --footer-social-bg: #33353d;
}

[data-theme="light"] {
  --primary-color: #f12711;
  --secondary-color: #f5af19;
  --text-color: #333;
  --bg-color1: #eef2f3;
  --bg-color2: #e4cece;
  --card-bg: #ffffff;
  --header-bg: #ffffff;
  --footer-social-bg: #e4cece;
}

.controls {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

/* Language Selector Buttons */
.language-buttons {
  display: flex;
  gap: 0.5rem;
}

/* Default button style for LIGHT MODE */
.language-btn {
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--card-bg);
  color: #f5f5f5;
  transition: all 0.3s ease;
}

[data-theme="dark"] .language-btn {
  color: #f5f5f5;
}

[data-theme="light"] .language-btn {
  color: #333;
}

.language-btn.active {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  color: white;
  border-color: transparent;
}

article {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Grid Layout for Zodiacs */
.container__zodiac {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
  margin-inline: 1rem;
  padding: 0 1rem;
}

.card {
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  box-shadow: 0 2px 5px var(--primary-color);
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* max-height: 350px; */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 25px 75px var(--primary-color);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
}

.body-no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.modal-content {
  background-color: var(--card-bg);
  margin: 20px auto;
  padding: 1rem;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  position: relative;
  overflow-y: auto;
  max-height: 80vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-sizing: border-box;
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

#modalImage {
  width: 100%;
  max-height: 500px;
  object-fit: fill;
  margin-bottom: 1rem;
  border-radius: 2%;
}

#modalImage:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px var(--primary-color);
}

/* Responsive Adjustments */
@media (max-width: 768px) {

  .controls {
    width: 100%;
    justify-content: space-between;
  }

  .modal-content {
    width: 95%;
    padding: 15px;
  }

  .close {
    right: 15px;
    top: 15px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 98%;
    padding: 12px;
  }

  .close {
    right: 10px;
    top: 10px;
    font-size: 20px;
  }

  .footer-col {
    width: 100%;
  }
}

#modalEvents {
  list-style-type: none;
  padding-left: 0;
}

#modalEvents li {
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 1.5rem;
}

#modalEvents li:before {
  content: "•";
  color: var(--primary-color);
  position: absolute;
  left: 0;
}

#page-container {
  min-height: 100vh;
  background: linear-gradient(to right, var(--bg-color1), var(--bg-color2));
}

#modalPoints {
  list-style-type: none;
  padding-left: 0;
}

#modalPoints li {
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 1.5rem;
}

#modalPoints li:before {
  content: "•";
  color: var(--primary-color);
  position: absolute;
  left: 0;
}

.page-no-scroll {
  overflow: hidden;
}

@media (max-width: 768px) {
  .controls {
    flex-wrap: wrap;
    /* Allow elements to wrap */
    gap: 0.8rem;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .controls {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }

  .language-buttons {
    order: 1;
    justify-content: space-between;
  }
}

.info-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
  color: var(--primary-color, #f12711);
  z-index: 2;
}