---
import Link from "@/components/Link.astro";
import type { LinkProps } from "@/types";

interface Props {
  pages: LinkProps[];
}

const { pages } = Astro.props;

const currentPath = Astro.url.pathname;
---

<nav class="nav">
  <ul class="nav--list">
    {
      pages
        .filter((p) => p.isActive)
        .map((p) => (
          <li class={`nav--list__item ${currentPath === p.path ? "active" : ""}`}>
            <Link href={p.path} name={p.name} />
          </li>
        ))
    }
  </ul>
</nav>
