---
import Link from "@/components/Link.astro";
import type { LinkProps } from "@/types";

interface Props {
  pages: LinkProps[];
}

const { pages } = Astro.props;

const currentPath = Astro.url.pathname;
---

<nav class="nav">
  <ul class="nav--list">
    {
      pages
        .filter((p) => p.isActive)
        .map((p) => (
          <li class={`nav--list__item ${currentPath === p.path ? "active" : ""}`}>
            <a href={p.path}>
              <span class="icon">{p.icon && <p.icon width={24} height={24} />}</span>
              <span class="text">{p.name}</span>
            </a>
          </li>
        ))
    }
  </ul>
</nav>
