---
import "@/assets/styles/tile.css";
import BackButton from "@/components/BackButton.astro";
import Help from "@/components/Help.astro";
import NumberGrid from "@/components/NumberGrid.astro";
import BaseLayout from "@/layouts/Base";

const title = "English Numbers";
const numbers = Array.from({ length: 10 }, (_, i) => i + 1);
---

<BaseLayout meta={{ title: "Numbers" }}>
  <Fragment slot="header-left">
    <Help title="Multiplication Tables" description="This page displays numbers and their multiplication tables." />
  </Fragment>

  <BackButton />
  <div class="container__page">
    <div class="page__header">
      <h2 class="page__title">{title}</h2>
    </div>

    <div class="page__content">
      <div class="page__grid">
        {numbers.map((number) => <NumberGrid number={number} numbers={numbers} />)}
      </div>
    </div>
  </div>
</BaseLayout>
