---
import "@/assets/styles/tile.css";
import BackButton from "@/components/BackButton.astro";
import LetterCard from "@/components/LetterCard.astro";
import jsonData from "@/data/numbers.json";
import BaseLayout from "@/layouts/Base";

const {
  hindi: { title, data, category }
} = jsonData;
---

<BaseLayout meta={{ title: "Numbers" }}>
  <div class="container__page">
    <div class="page__header">
      <BackButton href="/numbers" />
      <h2 class="page__title">{title}</h2>
      <button id="flip-all-button" class="btn__flip__all">Flip All Cards</button>
    </div>

    <div class="page__content">
      <div class="page__grid">
        {data.map((entry) => <LetterCard item={entry} category={category} />)}
      </div>
    </div>
  </div>
</BaseLayout>
