---
import "@/assets/styles/varnmala/number.css";
import BackButton from "@/components/BackButton.astro";
import LetterCard from "@/components/LetterCard.astro";
import numbersData from "@/data/numbers.json";
import BaseLayout from "@/layouts/Base";

const {
  morse: { title, data, category }
} = numbersData;
---

<BaseLayout meta={{ title: "Numbers" }}>
  <BackButton href="/numbers" />
  <div class="container__page">
    <div class="page__header">
      <h1 class="page__title">{title}</h1>
      <button id="flip-all-button" class="btn__flip__all">Flip All Cards</button>
    </div>

    <div class="container__numbers">
      <div class="numbers__grid">
        {data.map((entry) => <LetterCard item={entry} category={category} />)}
      </div>
    </div>
  </div>
</BaseLayout>
