---
import "@/assets/styles/games.css";
import BackButton from "@/components/BackButton.astro";
import Help from "@/components/Help.astro";
import HideSeekKbd from "@/components/HideSeekKbd.astro";
import KeyboardTrigger from "@/components/KeyboardTrigger.astro";
import SharePopover from "@/components/ShareButton.astro";
import Layout from "@/layouts/Base";

const meta = {
  title: "Keyboard Game",
  description: "Play a fun letter hiding game using your keyboard"
};
---

<Layout meta={meta}>
  <BackButton />
  <Fragment slot="header-right">
    <KeyboardTrigger />
    <SharePopover />
    <Help
      title="Hide & Seek Game"
      description="Press any alphabet key from keyboard and that letter will appear. Press again to hide it. Enjoy the hover and active effects on each card."
    />
  </Fragment>
  <div class="game-page-container">
    <div class="game-wrapper"></div>
    <HideSeekKbd />
  </div>
</Layout>
